* {
  margin: 0;
  padding: 0;
}
  .slick-slide > div {
  padding: 0 8px; /* adds 16px gap between slides */
}

.slick-img-box {
  width: 100%;
}

.social-app{
  display: none;
}
@media (min-width:1580px){
  .social-app{
    display: block;
  }
}